<br /><h1 class="text-center">Órdenes</h1>

<div class="container">
  <div class="text-right">
    <%= link_to new_order_path, class: 'btn btn-primary' do %>
      <i class="fa fa-plus"></i> Crear orden
    <% end %>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-12">
      <% if @orders.empty? %>
      <br />
      <div class="alert alert-primary" role="alert">
        Por el momento no hay órdenes dadas de alta.
      </div>
      <% else %>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>