<br /><h1 class="text-center">Órdenes</h1>

<div class="container">
  <div class="text-right">
    <%= link_to new_order_path, class: 'btn btn-primary' do %>
      <i class="fa fa-plus"></i> Crear orden
    <% end %>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-12">
      <% if @orders.empty? %>
      <br />
      <div class="alert alert-primary" role="alert">
        Por el momento no hay órdenes dadas de alta.
      </div>
      <% else %>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Total</th>
            <th scope="col"># de Productos</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%= render @orders %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>