<br /><h1 class="text-center">Crear orden</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-12">
      <%= render 'form' %>
    </div>
  </div>
</div>