<li class="list-group-item d-flex justify-content-between align-items-center">
	<%= item_order.item.description %>
	<span class="badge badge-primary badge-pill"><%= item_order.quantity %></span>
</li>